body {
  background-image: url("CB-art.png");
  position: relative;
  width: 100%;
  margin: 0;
}

.tribute-text {
  position: absolute;
  text-align: center;
  right: 150px;
  top: 150px;
  font-size: 1em;
  letter-spacing: 5px;
  color: rgb(224, 224, 224);
  text-shadow: 
  3px 3px 2px rgb(165, 3, 165),  
  5px 5px 2px black;
}

h1, h2 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: 100;
  margin: 5px 0px;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  margin: 5px 0px;
}

