body {
  background-image: url("chadwick-boseman.png");
  position: relative;
  /* margin: 0; */
}

.tribute-text {
  position: absolute;
  /* color: white; */
  justify-content: center;
  text-align: center;
  right: 100px;
  top: 750px;
  font-size: 1em;
  letter-spacing: 5px;
  color: rgb(224, 224, 224);
  text-shadow:  0px 0px 3px rgb(224, 224, 224), 2px 2px 3px rgb(165, 3, 165);
}

h1, h2 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: 100;
  margin: 5px 0px;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  margin: 5px 0px;
}

/* .background-cb {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
} */